
#main-content {
    padding: 1em;
    margin: auto;
    max-width: 1200px;
}

#pattern-container {
    border: solid 1px black;
    text-align: center;
}

.labeled-slider {
    margin-top: 2em;
}

.pattern-preview {
    height: 100px;
    width: 100px;
}

.pattern-select {
    display: inline-block;
    border: solid 1px black;
}

.slider-label {
    position: absolute;
    margin-top: 0.5em;
}
