<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Tiles</title>
	<!-- <link rel="icon" href="images/icon.png" /> -->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>

	<div id="main-content">
		<div id="display-container">
			<div id="pattern-container" >
				<svg id="pattern-src" width="100" height="100" viewBox="0 0 200 200">
					<defs>
						<linearGradient id="grad1" x1="0" x2="0" y1="0" y2="1">
							<stop offset="0%" stop-color="blue"></stop>
							<stop offset="100%" stop-color="red"></stop>
						</linearGradient>

						<linearGradient id="grad2" x1="0" x2="1" y1="0" y2="0">
							<stop offset="0%" stop-color="red"></stop>
							<stop offset="100%" stop-color="blue"></stop>
						</linearGradient>
					</defs>

					<rect fill="url(#grad1)" width="100" height="200" x="0" y="0" ></rect>
					<rect fill="url(#grad2)" width="100" height="200" x="100" y="0"></rect>
				</svg>

				<svg v-bind:width="width" height="300">
					<defs>
						<!-- <g>
							<linearGradient id="g1" x1="0" x2="0" y1="0" y2="1">
								<stop offset="0%" stop-color="blue"></stop>
								<stop offset="50%" stop-color="white"></stop>
								<stop offset="100%" stop-color="blue"></stop>
							</linearGradient>
						</g>

						<linearGradient id="g2" x1="0" x2="1" y1="0" y2="0">
							<stop offset="0%" stop-color="green"></stop>
							<stop offset="50%" stop-color="white"></stop>
							<stop offset="100%" stop-color="green"></stop>
						</linearGradient>
						<path
							id="path104"
							d="m 0.0010499,0.13228733 c 0.52618688,0.004176 0.52618688,0.004176 0.52618688,0.004176"
							style="fill:none;stroke:#000000;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />

						<g id="gr1">
							<rect id="r1" fill="url(#g1)" v-bind:width="scale * length" v-bind:height="scale * length" x="0" y="0" />
							<rect fill="url(#g2)" v-bind:width="scale * length / 2" v-bind:height="scale * length / 2" x="0" y="0"></rect>
							<use href="#path104" style="transform: scale(10)" x="0" y="0"></use>
						</g> -->


						<pattern id="pattern" x="0" y="0" v-bind:width="1.0 / nx" v-bind:height="1.0 / ny">
							<use href="#pattern-src" v-bind:width="scale * length" v-bind:height="scale * length"></use>
						</pattern>
					</defs>
					<rect id="pattern-packer" v-bind:width="scale * length * nx" v-bind:height="scale * length * ny" fill="url(#pattern)" stroke="black"></rect>
				</svg>
			</div>

			<div class="controls-container">
				<label class="slider-label" for="scale">Scale: {{ scale }}</label>
				<input class="labeled-slider" v-model="scale" @change="handleResize" type="range" id="scale" min="0.2" max="2" step="0.01" >
				<label class="slider-label" for="scale">Something: 1</label>
				<input class="labeled-slider" type="range" id="scale" min="1" max="2" step="0.01">
			</div>
		</div>

		<div id="list-container">
			<ul>
				<li v-for="pattern in patterns">
					<a class="pattern-select" v-bind:onclick="'patternContainer.setPattern(\'' + pattern + '\')'">
						<div class="pattern-preview" v-bind:style="'background-image:url(./svgs/' + pattern + ')'" v-bind:data-name="pattern"></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>

</html>

