<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Motif - Tiles</title>
	<!-- <link rel="icon" href="images/icon.png" /> -->
	<link rel="stylesheet" href="css/main.css" />
</head>

<body>

	<div id="main-content">
		<div id="display-container">

			<div hidden>
				<!-- This is the svg to be tiled and modified -->
				<svg id="pattern-src" width="100" height="100" viewBox="0 0 200 200">
				</svg>
			</div>

			<div id="pattern-container" class="light-bg">
				<!-- This is the tiling svg -->
				<svg v-bind:width="width" height="450">
					<defs>
						<pattern id="pattern" x="0" y="0" v-bind:width="1.0 / nx" v-bind:height="1.0 / ny">
							<use href="#pattern-src" v-bind:width="scale * pwidth" v-bind:height="scale * pheight"></use>
						</pattern>
					</defs>
					<rect id="pattern-packer" v-bind:width="scale * pwidth * nx" v-bind:height="scale * pheight * ny" fill="url(#pattern)" stroke="black"></rect>
				</svg>

				<div class="pattern-overlay">
					<button onclick="exportSVG()">Export SVG</button>
				</div>
			</div>

			<div class="controls-container">
				<div id="default-controls">
					<label class="slider-label" for="scale">Scale: {{ scale }}</label>
					<input class="labeled-slider" v-model="scale" @change="handleResize" type="range" id="scale" min="0.2" max="4" step="0.01" >
				</div>

				<div id="generated-controls">
					<div v-for="v in styles.rootVars">
						<template v-if="v.valueType == 'number'">
							<label v-bind:for="v.propertyName" class="slider-label">{{ v.propertyName }}</label>
							<input v-bind:id="v.propertyName" class="labeled-slider" type="range" v-model="v.value" @change="updateSVGProperties">
						</template>
						<template v-if="v.valueType == 'hexcolor'">
							<label v-bind:for="v.propertyName" class="slider-label">{{ v.propertyName }}</label>
							<input type="color" v-bind:id="v.propertyName" class="labeled-slider" v-model="v.value" @change="updateSVGProperties">
						</template>
					</div>
				</div>

			</div>
		</div>

		<div id="list-container" class="light-bg">
			<ul>
				<li v-for="pattern in patterns">
					<a class="pattern-select" v-bind:onclick="'patternContainer.setPattern(\'' + pattern + '\')'">
						<div class="pattern-preview" v-bind:style="'background-image:url(./svgs/' + pattern + ')'" v-bind:data-name="pattern"></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="text-center">
		<small>This is currently a work in progress.</small>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/main.js"></script>
</body>

</html>

